@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --plum:#B473AC;
}

body {
    font-family: 'Source Sans Pro' , sans-serif;
    margin:0;
    background-color: gray;
}

#navbar {
    width:100vw;
    background-color: teal;
    font-weight: bold;
}

   #navbar ul {
        list-style: none;
        margin:0;
        display:flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1em 0;
    }


    #navbar ul li {
        text-decoration: none;
        padding-right:3em;
        position: relative;
    }

    #navbar ul li::after {
        content:'';
        position: absolute;
        display: block;
        height: 0.4em;
        width:0%;
        background-color: var(--plum);
        bottom: -1em;
        transition: all ease-in-out 250ms;
    }

    #navbar ul li:hover {
        color:var(--plum);
    }

    #navbar ul li:hover::after {
        width:60%;
    }

    #navbar ul li:first-child {
        margin-right: auto;
        margin-left: 3em;
    }